/* File to hold styling for the weather application */

.row-divider{
    height: 20px;
}

.search-result{
    padding:10px;
    height:40px;

}

.#MyChart{
    width: 400px;
    height: 400px;
}

.card{
    width: 8rem;
}

.card-title{
    font-size:12px;
    font-weight: bold;
}

.card-text{
    font-size:10px;
}

.main-icon{
    width:40px;
}

.card-img-top {
    width:60px;
    align-self: center;
}

.weather-items {
    font-size:15px;
}
